<div>

<div class="contactBox allContacts">There are <span class="tc"><%= @allContacts.length %></span> contacts</div>

  <% @allContacts.each do |contact| %>
    <div class="contactBox contact">
      <p> <a id="contactLink" href="/contacts/<%= contact.id %>" ><%= contact.full_name %> (<%= contact.email %>)</p></a>
      <div class="edit-delete">
        <a href="/edit">Edit</a> | <a href="/delete">Delete</a>
      </div>
    </div>
  <% end %>

</div>
